$white: #fff;
$blue: rgb(0, 138, 202);

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.loader {
    transition: 1000ms all;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $blue;
    overflow: hidden;
    display: flex !important;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;

    &.active {
        opacity: 1;
    }

    .loader-counter {
        font-size: 100px;
        color: $white;
    }

    &.none{
        display: none !important;
    }

}

